.product__details {
  margin-top: 10rem;
  display: grid;

  /* grid-template-columns: 7.9rem, 61rem, 29.2rem; */
  grid-template-columns: 7.9rem 61rem 1fr;
  grid-gap: 1.6rem;
}

.side__images {
  max-width: 7.9rem;
}

.side__images > img {
  width: 100%;
  max-width: 7.9rem;
  height: 8rem;
  object-fit: cover;
  object-position: 50% 20%;
  margin-bottom: 0.5rem;
  width: 10rem;
  cursor: pointer;
}

.main__image {
  max-width: 61rem;
}

.main__image img {
  width: 100%;
  max-width: 61rem;
  height: 51.1rem;
  object-fit: cover;
  object-position: 50% 10%;
}

.product__details__content {
    margin-left: 4rem;
}

.product__title {
    font-size: 3rem;
    font-weight: 500;
}

.product__brand {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0 2rem;
}
.product__attributes {
    
    margin-bottom: 2rem;
}
.product__attributes p {
    text-transform: uppercase;
    font-weight: 700;
}

.product__price {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
.product__price__symbol {
  font-size: 1.6rem;
  display: flex;
}

.product__price__symbol > span {
margin-top: -.25rem;
}

.product__btn {
    background-color: #5ECE7B;
    width: 292px;
    padding: 8px 0;
    border: none;
    color: white;
    cursor: pointer;
}
.product__btn:disabled {
  background-color: grey;
}

.product__description {
    margin-top: 2rem;
}