@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
:root {
  --attribute-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 85vh;
}

body::-webkit-scrollbar {
  width: 12px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #222 white;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
  border: 3px solid white;
  border-radius: .6rem;
}
